:root {
	/* these variables should have prefixes like colour- and font- but meh */

	/* accents */
	--primary: #db6958;
	--secondary: #5c78ae;
	--tertiary: #64ba9f;
	
	--text: #000; /* text colour */
	--section-bg: #fff7; /* background of sections */
	--border: #fff; /* borders of sections */
	--border-width: 0.3vmin; /* width of borders */

	--copy: "Atkinson Hyperlegible", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--code: "JetBrains Mono", "Courier New", Courier, monospace;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--copy);
	font-size: 1.3vmin;
}

aside#background {
	/* positioning */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background */
	background: var(--primary);

	background: linear-gradient(320deg, var(--primary), var(--secondary), var(--tertiary));
    background-size: 600% 600%;

    animation: backgroundLoop 20s ease infinite;

	color: var(--text);
	z-index: -1;
	/* filters */
	filter: brightness(1.2);
	opacity: 0.8;
}

@keyframes backgroundLoop {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* header */
header {
	text-align: center;
	
	font-size: 1.5vmin;
}

header h1, header p {
	margin: 0;
}

/* subheading with the module */
header p.subtitle {
	font-size: 1em; /* same as h2 */
	font-weight: normal;
}

header p.subtitle {
	opacity: 0.8;
}

header p#author::before, header p#author::after {
	content: "~"
}

header p.subtitle span.up-number {
	font-size: 0.8em;
	font-family: monospace;
}

header p:last-of-type {
	margin-top: 1em;
	text-align: left;
	font-size: 1.3vmin;
}

/* articles, sections */
article {
	/*
		not sure if this is being used correctly here,
		but it's cool
	 */
	counter-reset: heading;
}

article {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

article > section.col {
	flex: 1;
}

header, section.step {
	padding: 1vmin;
	margin: 0.5vmin;
	background-color: var(--section-bg);
	border: var(--border-width) solid var(--border);
	border-radius: 0.5vmin;
	box-shadow: 0.5vmin 0.5vmin 0.5vmin #0003;
}

/* section headings */
section.step h2 {
	margin: 0;
	margin-bottom: 0.25rem;
	border-bottom: var(--border-width) solid var(--border);
	cursor: default;
}

section.step h2:before {
	display: inline-block;
	position: relative;

	content: counter(heading);
	counter-increment: heading;

	font-family: var(--code);
	font-size: 2em;

	margin-right: 0.5rem;
	margin-bottom: -2rem;

	opacity: 0.8;

	filter: brightness(0.5);

	z-index: -1;

	transition: opacity 0.5s ease-in-out;
}

article section.step h2:hover:before {
	opacity: 1;
}

/* odd sections */
section.step:nth-child(odd) h2 {
	border-color: var(--secondary);
}

section.step:nth-child(odd) h2:before {
	color: var(--secondary);
}

/* even sections */
section.step:nth-child(even) h2 {
	border-color: var(--tertiary);
}

section.step:nth-child(even) h2:before {
	color: var(--tertiary);
}

/* ordered lists */
ol {
	counter-reset: list;
	margin: 0;
	padding: 0;
	list-style: none;
}	

ol > li::before {
  display: inline-block;
  content: counter(list);
  counter-increment: list;
  font-size: 2em;
  font-family: var(--code);
  opacity: 0.5;
  z-index: -1;
  font-weight: bold;
  filter: brightness(0.6);
}

ol > li:hover::before {
	filter: brightness(1);
}

ol > li:nth-child(odd)::before {
	color: var(--secondary);
}

ol > li:nth-child(even)::before {
	color: var(--tertiary);
}

iframe {
	width: 100%;
}

img {
	border-radius: 0.5vmin;
}

figure img {
	width: 100%;
}


/* epic cycling frame things copied from iframe */
figure.frames {
	width: 100%;
	margin: 0;
}

figure.frames ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure.frames ul li {
	display: flex;
}

figure.frames div {
	margin: 0.2rem;
}

figure.frames div:first-of-type {
	flex: 2;
}

figure.frames div:last-of-type {
	flex: 1;
}

figure.frames div img {
	width: 100%;
}

/* fading thing copied from the iframe */
figure#fading-thing {
	position: relative;
	text-align: center;
	margin: 0;
	flex: 1;
}

figure#fading-thing img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;

	opacity: 0;
	
	animation: fade 5s ease-in-out infinite;
}

figure#fading-thing img:nth-child(1) {
	animation-delay: 0;
}

figure#fading-thing img:nth-child(2) {
	animation-delay: 2.5s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* janky images */
figure.image {
	width: 100%;
	margin: 0 auto;
}

figure.image img {
	width: 60%;
	margin: 0 auto;
}

figure.image div {
	text-align: center;
}

figure.image.split {
	display: flex;
	justify-content: center;
	width: 100%;
}

figure.image.split div {
	flex: 3;

	display: flex;
	justify-content: center;
	align-items: center;
}

figure.image.split div img {
	width: 100%;
	filter: contrast(1.2) saturate(4);
}

figure.image.split figcaption {
	flex: 2;
	margin-left: 1em;
}