html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Atkinson Hyperlegible", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

aside#background {
	/* positioning */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background */
	background: #db6958;
	background: linear-gradient(135deg, #db6958 0%, #5c78ae 50%, #64ba9f 100%); 
	z-index: -1;
	/* filters */
	filter: brightness(1.5);
	opacity: 0.5;
}

/* header */
header {
	text-align: center;
}

header h1, header p {
	margin: 0;
}

/* subheading with the module */
header p.subtitle {
	font-size: 1.5em; /* same as h2 */
	font-weight: normal;
}

header p.subtitle {
	opacity: 0.8;
}

header p#author::before, header p#author::after {
	content: "~"
}

header p.subtitle span.up-number {
	font-size: 0.8em;
	font-family: monospace;
}