:root {
	/* these variables should have prefixes like colour- and font- but meh */

	/* accents */
	--primary: #db6958;
	--secondary: #5c78ae;
	--tertiary: #64ba9f;
	
	--text: #000; /* text colour */
	--section-bg: #fff3; /* background of sections */
	--border: #fff; /* borders of sections */
	--border-width: 0.2em; /* width of borders */

	--copy: "Atkinson Hyperlegible", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--code: "JetBrains Mono", "Courier New", Courier, monospace;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--copy);
}

aside#background {
	/* positioning */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background */
	background: var(--primary);
	background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 50%, var(--tertiary) 100%); 
	color: var(--text);
	z-index: -1;
	/* filters */
	filter: brightness(1.5);
	opacity: 0.5;
}

/* header */
header {
	padding: 1em;
	margin: 1em;

	background-color: var(--section-bg);
	border: var(--border-width) solid var(--border);

	text-align: center;
}

header h1, header p {
	margin: 0;
}

/* subheading with the module */
header p.subtitle {
	font-size: 1.5em; /* same as h2 */
	font-weight: normal;
}

header p.subtitle {
	opacity: 0.8;
}

header p#author::before, header p#author::after {
	content: "~"
}

header p.subtitle span.up-number {
	font-size: 0.8em;
	font-family: monospace;
}

/* articles, sections */
article {
	/* let's give css grid a go 👀 */
	display: grid;
	
	grid-template-areas: "one two three"
						 "four five three"
						 "six seven three";
			

	/*
		not sure if this is being used correctly here,
		but it's cool
	 */
	counter-reset: heading;
}

article > section {
	padding: 1em;
	margin: 1em;
	
	background-color: var(--section-bg);
	border: var(--border-width) solid var(--border);
}

/* section headings */
article > section h2 {
	margin: 0;
	border-bottom: var(--border-width) solid var(--border);
	cursor: default;
}

article > section h2:before {
	display: inline-block;
	position: relative;

	content: counter(heading);
	counter-increment: heading;

	/* please ignore the hacks below here */
	font-family: var(--code);
	font-size: 4em;

	margin-right: -2rem;
	margin-bottom: -2rem;

	opacity: 0.5;

	z-index: -1;
	/* you can look again now, rich */

	transition: opacity 0.5s ease-in-out;
}

article section h2:hover:before {
	opacity: 1;
}

/* odd sections */
article > section:nth-child(odd) h2 {
	border-color: var(--secondary);
}

article > section:nth-child(odd) h2:before {
	color: var(--secondary);
}

/* even sections */
article > section:nth-child(even) h2 {
	border-color: var(--tertiary);
}

article > section:nth-child(even) h2:before {
	color: var(--tertiary);
}
